<footer class="site-footer">

  <div class="wrapper">
{%comment%}
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
{%endcomment%}

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
{%comment%}
            {% else %}
              {{ site.title | escape }}
{%endcomment%}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
           <style>
              span.icon > svg { height : 24px; width : 30px; }
           </style>

						{% comment %}
            {% for profile in site.data.social-profiles %}
            {% if profile.username %}
            <li>
                <a href="{{ profile.username | prepend: profile.path }}" title="{{ site.title | append: ' on ' | append: profile.title }}" target="_blank">
                <span class="icon">
                    {{ profile.icon }}
                </span>
                <span class="username">{{ profile.username }}</span>
                </a>
            </li>
            {% endif %}
            {% endfor %}

						{% endcomment %} 
            <div class="social-links">
             {%- include social.html -%}
            </div>
						{% for item in site.data.settings.social %}
             {% if item.icon == 'google-scholar' %}
               <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="ai ai-{{ item.icon }}" aria-hidden="true"></i> Google Scholar</a>
             {% else %}
               <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
             {% endif %}
            {% endfor %}


        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>

